.container.weather-container {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.container.weather-container ul {
  list-style-type: none;
  padding: 0;
}

.container.weather-container ul li {
  margin-bottom: 10px;
}

.container.weather-container p {
  font-style: italic;
  color: #999;
}
/* Existing styles */

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 10px; 
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.login-form, .weather-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f8f9fa;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  padding: 5px 10px;
  background-color: #dc3545;
  border: none;
}

li button:hover {
  background-color: #c82333;
}

.register-form{
  display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.container-log{
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  
}

.btn-logout{
  position: absolute;
  top:2rem;
  right: 2rem;
  padding: 10px;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  flex: 1;
  padding-right: 40px; /* Add some padding to make space for the icon */
}

.password-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #999; /* You can change the color of the icon */
  font-size: 20px; /* Adjust the size of the icon */
}

.password-icon:hover {
  color: #000; /* Change color on hover */
}